html{
    color: #385170;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    background-color: #9FD3C7 !important;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

svg.bi {
    fill: white;
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

body {
    color: #142D4C;
}

.browseCards{
    display: flex;
    margin: auto;
    max-width: 80%;
    text-decoration: none;
}

.formCard{
    display: flex;
    margin: auto;
    max-width: 40%;
}

.heroColor{
   background-color:  #ECECEC;
}

.bodyContent{
    background-color: #ECECEC;
    height: 100%;
}

.inlineFormInputContainer{
    display: flex;
    justify-content: space-between
}

.inlineFormInput{
    display: inline-block;
    width: 48%
}

.inlineFormTripleInputInput{
    display: inline-block;
    width: 32%
}

.formButton{
    display: block;
    margin: 0 auto;
}

.nav-item{
    font-size: large;
    text-decoration: none;
    color: #142D4C;
}

.inputSpan{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.formError{
    color: red;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.form-label{
    margin: 0 0 5px;
}

.navbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}

.nav-link{
    color: #142D4C;
}

.light{
    color: #385170;
}

.btn-color{
    color:#ECECEC;
    background-color:#385170;
    border: none;
}
.btn-color:hover{
    color:#ECECEC;
    background-color:#142D4C;
}
.filterCard{
    display: inline-block;
    width: 24%;
}
.tripCards{
    display: inline-block;
    width: 68%;

}