h2{
    color: red;
}

html{
    color: #385170;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

svg.bi {
    fill: white;
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

body {
    color: #142D4C;
}

.browseCards{
    display: flex;
    margin: auto;
    max-width: 50%;
}

.formCard{
    display: flex;
    margin: auto;
    max-width: 40%;
}

.bodyContent{
    background-color: #ECECEC;
}

.inlineFormInputContainer{
    display: flex;
    justify-content: space-between
}

.inlineFormInput{
    display: inline-block;
    width: 48%
}

.formButton{
    display: block;
    margin: 0 auto;
}

.inputSpan{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}