.infoRow{
  display:flex;
  justify-content:space-around;
}

.infoDisplay {
  background-color: #e2e2e2;
  margin: 0;
}

.helpButtonPlacer {
  justify-items: right;
  display: flex;
}

.deleteButtonPlacer{

}